{% extends "base.html.j2" %}

{% block content %}

<div class="row">
    <div class="col-md-auto">
        <a href="{% url 'edit post' name %}"><button type="button" class="btn btn-primary"
            >Edit '{{ name }}'</button></a>
    </div>
    <div class="col"><!-- empty spacer div --></div>
    <div class="col-md-auto">
        <span>showing content of <q><b>{{ name }}</b></q></span>
    </div>
    <div class="col"><!-- empty spacer div --></div>
    <div class="col col-md-auto">
        <a href="{% url 'delete post' name %}"><button
            class="btn btn-warning"
            >Delete</button></a>
    </div>
</div>
<hr>

<div>{{ content|safe }}</div>

{% endblock content %}