
{% extends "base.html.j2" %}

{% block content %}
    <ul>
    {% for post in posts %}
        <li>
            <a href="{% url 'view' post %}">
                {{ post }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock content %}
